.bethel{
	
	/*background-size: center center;
	background-repeat: no-repeat;
	padding-bottom: 50px;
	padding-top: 150px;*/
}
.navbar navbar-default{
    background-color: !important #fffff;
}
.nav navbar-nav{
	padding-left: 100px;
	
	float: right;
	display: inline-block;
}
.home{
	padding-left: 500px;
}
.FooterNav{
	background-color: #22c8ff;
	font-family: "Times New Roman", Times, serif;
	padding: 15px 50px 15px 20px; 
}
.MyForm{
	border-style: double border;
	border-radius: 50%,
	border-width: 10px;
}
.About{
	background-color: #FFEB3B;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 
}
.body{
	background-color: gold;
	
}
*{
	box-sizing: border-box;
}
.navbar-header{
	width: 50%;
	background-color: #fff;#69e06e,#1abc9c,#ffeb3b.
}
.navbar-collapse{
	height: inherit;
	width: 50%;
	background-color: #22c8ff;

}
.collapse ul li:hover {
	background-color: #2196f3;
	font-size: 20px;
	

}
.active{
	color: !important red;
}