.bethel{
	
	/*background-size: center center;
	background-repeat: no-repeat;
	padding-bottom: 50px;
	padding-top: 150px;*/
}
.navbar-default .navbar-nav.active, .navbar-default .navbar-nav.active:focus, .navbar-default .navbar-nav.active:hover {

    color: #3F51B5;
    background-color: #FFEB3B;
}
.navbar navbar-default{
    background-color: #3F51B5;
}
.nav navbar-nav{
	padding-left: 100px;
	margin-left: 20px;
	float: right;
	display: inline-block;
}
.home{
	padding-left: 500px;
}
.FooterNav{
	background-color: yellow;
	font-family: ""
}
.MyForm{
	border-style: double border;
	border-radius: 50%,
	border-width: 10px;
	background-color: #e67e22;
}
.About{
	background-color: #FFEB3B;
}
.body{
	background-color: gold;
	font-family: Roboto condensed;
}
