.bethel{
	background-image: house 1.jpg;
	background-size: center center;
	background-repeat: no-repeat;
	padding-bottom: 50px;
	padding-top: 150px;
}
.footer{
	background-color: #3498DB;
}
.icon1{
	color: white;
}